<% provide(:title, 'All users') %>
<% provide(:search_name, "ユーザ検索") %>
<% provide(:path, users_path) %>

<h1>All users</h1>

<%= will_paginate %>

<!--ユーザ検索機能-->
<%= render 'users/search' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
